<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="navbar"> {# navbar : 상단에 위치하는 메뉴바 #}

        {% comment %} 
        request.user 는 우리가 context에 담아 넘기지 않아도 템플릿으로 자동으로 넘어가는 context다.
        탬플릿을 랜더링할 때, 현재 로그인한 사용자를 나타내는 auth.User 클래스의 인스턴스 또는 AnonymousUser 인스턴스를 보여준다.
        {% endcomment %}
        

        {% if request.user.is_authenticated %} {# 현재 로그인 되어있는 유저라면 로그아웃 버튼만 띄워 #}
        <h3>안녕하세요 {{ request.user.username }}님!</h3>
        
        {# 로그아웃은 데이터베이스 상태를 바꾸는 거니까 (세션) POST 방식으로 해준다 #}
        <form action="{% url 'accounts:logout' %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="로그아웃"></input>
        </form>
        
        <a href="{% url 'accounts:update' %}">회원정보 수정</a>

        
        <form action="{% url "accounts:delete" %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="회원탈퇴">
        </form>

        {% else %}
 
        <a href="{% url 'accounts:login' %}">로그인</a>
        <a href="{% url 'accounts:signup' %}">회원가입</a>
        
        {% endif %}
    
    </div>

    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

</body>
</html>
