{% extends "base.html" %}

{%block content%}
<br>
<h1> ⚾️ 이곳은 데이터를 전송하는 페이지입니다.</h1><br>
<p>원하는 데이터를 입력해서 데이터 수신 페이지로 전송해보세요!</p>

{# 사용자가 아무것도 입력하지 않고 제출해서 data-context 뷰에서 내용 입력하라는 messages 를 담아 보냈다면 #}
{% if messages %}
    <ul>
        {% for message in messages %}
            ⚠️ {{ message }}
        {% endfor %}
    </ul>
{% endif %}


{% comment %}

<form> 태그는 HTML 문법이며, 웹 페이지에서 사용자 입력을 받아 서버로 제출하는 데 사용된다.
<form> 태그의 주요 요소:
    action: 데이터를 전송할 URL을 지정한다. 지정하지 않을 경우 현재 페이지의 url로 전송한다.
    method: 데이터를 전송하는 방법을 지정한다.(GET 또는 POST 방식)
즉, 데이터를 어디로(action) 어떤 방식(method)를 이용해서 보낼지 결정하는 속성

GET 방식은 데이터를 서버로 전송할 때 쿼리스트링(데이터를 url 주소에 포함시켜 전송하는 방식)을 사용해서 전송한다.
쿼리스트링 : 데이터를 url 주소에 포함시켜 전송하는 방식. ? 뒤에 데이터가 위치하고, &로 연결된 key=value 형태로 구성됨

{% endcomment %}

<form action="{% url 'articles:data-catch' %}" method="POST">
    {% csrf_token %}
    <lable for "message">데이터 입력 : </label> {#입력필드의 이름#}
    <input type="text" id="message" name="message"> {#입력필드의 유형과 고유식별자 지정#}
    <button type="submit" class="btn btn-outline-white">
        💌
    </button>
</form>
<a href="{% url 'articles:index' %}">
    <button type="button" class="btn btn-secondary" style="background-color: Lightblue; border-color: Lightblue; color: white;">홈(index)으로 가기</button>
</a>

{%endblock content%}