{% extends "base.html" %}

{% block content %}

    <h1>아티클 상세 페이지</h1>

    <p>작성자: {{ article.author.username }}</p>
    <p>제목: {{ article.title }}</p>

    {% if article.image %} {# 이미지 속성이 존재하는 경우에. 참고로 이미지 없으면 이미지 컬럼에 빈문자열(불리언 False)로 표현됨 #}
		<img src="{{ article.image.url }}" > {# 실제 이미지를 넣는게 아님!#}
        <br><br>
    {% endif %}		

    <p>내용: {{ article.content }}</p>
    <p>작성일시: {{ article.created_at }}</p>
    <p>수정일시: {{ article.updated_at }}</p>
    <br>
    

    {% comment %} 
    현재 로그인한 사용자 정보를 템플릿에서 user 변수로 자동으로 사용할 수 있다!
    보통 뷰에서 템플릿으로 '자동으로' 전달된다. 즉, 별도로 뷰에서 context에 user 변수를 추가하지 않아도 장고가 자동으로 user 변수를 템플릿에 전달해준다는 것이다.
    {% endcomment %}

    {% if user == article.author %} {# 현재 요청을 보낸 사용자가 해당 게시글의 작성자와 같다면 수정, 삭제 버튼 노출#}
        <a href="{% url 'articles:update' article.pk %}">
            {# <input type="submit" value="글 삭제"> 라고 작성해줘도 되는데 이러면 안예쁘게 생겨서 버튼으로 만들어줌 #}
            <button type="button" class="btn btn-outline-dark">
                글 수정
            </button>
        </a>
        <br><br>
        
        <form action="{% url 'articles:delete' article.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-dark">
                글 삭제
            </button>
            {# delete url로 pk값을 포스트 방식으로 보내서, delete 뷰 함수로 이어지게 함 (해당 pk값의 레코드를 삭제) #}
        </form> <br>
    {% endif %}
    
    <a href="{% url 'articles:articles' %}">
        <button type="button" class="btn btn-secondary" style="background-color: LemonChiffon; border-color: LemonChiffon; color: gray">
            아티클 목록으로 가기
        </button>
    </a>
    <br><br>
    
    
    <hr>
    <h3>댓글 {{ comments|length }}개</h3>
    
    {% if request.user.is_authenticated %} {# 만약 현재 요청을 보낸 사용자가 로그인되어 있다면 댓글 작성 폼 노출#}
        <form action="{% url "articles:comment_create" article.pk %}" method="POST">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit" class="btn btn-outline-dark">
                댓글 작성
            </button>
        </form>
        <hr>
    {% endif %}

    {% comment %} 
    context에 담아서 들고온 해당 게시글의 댓글들 for문 돌려서 하나씩 다 보여주기
    <ul> : unordered_list 순서 없는 목록. 목록의 시작과 끝을 정의하며, 목록의 각 항목은 <li> 태그로 감싸져야 함.
    <li> : list item 목록 항목. 목록의 각 항목을 정의하며, <ul> 태그 안에 포함되어야 한다.
    <p> : paragraph 단락. 텍스트를 단락으로 정의한다. 여기서는 댓글의 내용을 나타내기 위해 사용된다.
    {% endcomment %}
  
    {% for comment in comments %}
    <ul>
        <li>{{ comment.user.username }} : {{ comment.content }}</li>
        
        {% if user == comment.user %} {# 현재 사용자가 해당 댓글의 작성자와 같다면 댓글 삭제 버튼 노출#}
    
            <form action="{% url "articles:comment_delete" article.pk comment.pk%}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-dark">
                    삭제
                </button>
            </form>

        {% endif %}
    </ul>

    {% empty %}
    
    <p> 아직 댓글이 없습니다 🥹 </p>

    {% endfor %}

{% endblock content %}