{% extends "base.html" %}


{% comment %} 
지금 프로필 뷰에서 해당 프로필 유저 객체를 context에 담아 보내줬음
following은 유저 모델에서 정의한 필드로, 사용자가 팔로우하고 있는 다른 사용자들이다.

이렇게 한 사용자가 팔로우하고 있는 다른 사용자들을 접근할 수 있을 뿐만 아니라,
related_name으로 "followers"를 설정함으로써, 그 사용자를 팔로우하고 있는 다른 사용자들도 접근할 수 있게 된다. (장고 ORM의 기능. 매니저를 통해 A모델이 B모델을 참조하고, B모델이 A모델을 역으로 참조하는 것도 가능하다.)
즉, followers는 해당 사용자가 팔로우하고 있는 다른 사용자들이다.
{% endcomment %}

{% block content %}
    <h1> 🌸 이곳은 {{ member.username }}의 프로필 페이지입니다.</h1>

    <div>
        <h2>username : {{ member.username }}</h2>
        <p>
            팔로워 : {{ member.followers.count }}명  
            팔로잉 : {{ member.following.count }}명
        </p>
    </div>

    <div>
        {# 지가 자기 페이지 들어간 게 아니라면 #}
        {% if request.user != member %}
            {# '프로필 페이지 유저의 id'를 같이 보냄#}
            <form action="{% url 'users:follow' member.pk %}" method="POST">
                {% csrf_token %}
                {% if user in member.followers.all %} {# 현재 사용자가 프로필 유저의 팔로워 목록에 있다면 언팔로우 버튼 노출#}
                <button type="submit" class="btn btn-outline-dark">
                    언팔로우
                </button>
                {% else %} {# 현재 사용자가 프로필 유저의 팔로워 목록에 없다면 팔로우 버튼 노출#}
                <button type="submit" class="btn btn-outline-dark">
                    팔로우
                </button>
                {% endif %}
            </form>
        {% endif %}
    </div>
    <br>
    
    <a href="{% url 'users:users' %}">
        <button type="button" class="btn btn-secondary" style="background-color: pink; border-color: pink; color: white">
        사용자 페이지로 돌아가기</button>
    </a>
    
    <br><br>
    
    <a href="{% url 'articles:index' %}">
        <button type="button" class="btn btn-secondary" style="background-color: Lightblue; border-color: Lightblue; color: white;">
        홈(index)으로 돌아가기</button>
    </a>
{% endblock content%}