{% extends "base.html" %}

{% block content %}
    <h1>📖 이곳은 아티클 페이지입니다. </h1>
    
    {% if request.user.is_authenticated %}
        <a href="{% url 'articles:create' %}"> {#앵커 태그는 GET 방식임!!#}
            <button>새로운 아티클 작성하러 가기</button>
        </a>
        <br><br> 
    {% else %}
        <a href="{% url 'accounts:login' %}">로그인하고 글 작성하러 가기</a><br><br>
    {% endif %}
    
    <hr>

    {% for article in articles %} {#여기서 articles는 뷰 함수에서 context로 받은 것#}

        <a href="{% url 'articles:article_detail' article.pk %}"> {#글제목 클릭하면 이동할 수 있게 앵커태그 안에 넣어주고 url이랑 해당 pk값 변수로 할당하기#}
            <p>[{{article.id}}] {{article.title}} - {{article.author.username}}</p>
        </a> 
        <p>좋아요 {{ article.like_count }}개 </p>

        <form action="{% url 'articles:like' article.pk %}" method="POST">
            {% csrf_token %}
            {% if request.user in article.like_users.all %}
                <button type="submit">좋아요 취소</button>
            {% else %}
                <button type="submit">좋아요</button>
            {% endif %}
        </form>

        <hr>
    {% endfor %}

{%endblock content%}