{% extends "base.html" %}

{% block content %}
<h1>🖊️ 회원가입 페이지</h1>

{% comment %} 
회원가입을 할 때, 프로필 이미지를 업로드하는 부분이 있는데,
❗️이미지 파일을 업로드하려면 form 태그에 enctype="multipart/form-data" 속성이 반드시 포함되어야 한다. 
이를 통해 HTML 폼이 파일 데이터를 처리할 수 있게 된다.
enctype="multipart/form-data"를 추가하면, 폼 제출 시 이미지 파일을 포함한 데이터가 서버로 전송될 수 있다!
{% endcomment %}

<form action={% url "users:signup" %} method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">회원가입</button>
</form>

{% endblock content %}